* {
  margin: 0;
  padding: 0;
}
.small { font: italic 13px sans-serif; }
.heavy { font: bold;
  font-size: 5em;
  font-style: italic; }
.Rrrrr { font: italic 40px serif; fill: red; }


html, body {
  height: 100%;
}

a{
  display: inline-block;
}
#main_text{
  position: fixed;
  display:none;
  top: 3%;
  left: 20%;
  width:37%;
  font-size: 0.21em;
  color: white;
  z-index: -100;

  line-height: 130%;
    font-family: 'samsungone400';

}


#main_text_kr{

  position: fixed;
  z-index: -100;
  top: 3%;
  left: 60%;
  width:35%;
  font-size: 0.205em;
  line-height: 130%;
  color: white;
  display: none;
    font-family: 'samsungone400';

}

.center {
  display: block;
  margin-left: 30vw;
  margin-right: auto;
  margin-top: -2%;
  margin-bottom: -2%;
  width: 47%;
  color:white;
  text-align: center;
  font-size: 0.9em;
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 67%;
}

.center_text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color:white;
  text-align: center;
  font-size: 9.8em;
  font-family: 'suisse_intlblack';
  line-height: 100%;
  transform: scale(1.12, 0.96);
}


.center_text #mom{
  display: block;
  margin-top: 9%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color:white;
  text-align: center;
  font-size: 1.3em;
  font-family: 'alluraregular';
  line-height: 0%;
  transform: scale(1.12, 0.96);
}


.center_answer{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: white;
}

.center_answer_text{
  width: 70%;
  color:#001FBA;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 8.5em;
  font-family: 'alluraregular';
  line-height: 90%;
  transform: scale(1.12, 0.96);
}

.center_answer_text #google{
  font-family: 'suisse_intlblack';
}






.header{
    display:block;
    position: fixed;
    top: 0px;
    height: 50px;
}

body {
  background: #001FBA;
  height: 100%;
}

object{
  pointer-events: none;
}
svg {
  display: block;
  margin: auto;
  position: fixed;
  top: -5%;
  height: 100%;
  left: 0%;
  width: 100%;
}

#ag{
  top:5vh;
  height: 90%;
}


.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}

.one {
        flex: 1;
      }

      .two {
        flex: 2;
      }

      .three {
        flex: 3;
      }

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}
.flex-grid h2 {
  font-size: 10em;
  color:white;
}

.st{
  fill:white;
  transition: 400ms;
  animation: breathe 9s infinite ease-in-out;
transition-timing-function: ease-in-out;
-webkit-transition: 400ms;
-webkit-transition-timing-function: ease-in-out;
}



.st:hover{
  fill: black;
  box-shadow: 2px 2px 150px 150px rgba(255, 255, 0, 1);
 /* filter: url(#svgBlur); */
}


.ss{
  fill:white;
  transition: 400ms;
transition-timing-function: ease-in-out;
-webkit-transition: 400ms;
-webkit-transition-timing-function: ease-in-out;
}
.ss:hover{
    fill: yellow;
    box-shadow: 2px 2px 150px 150px rgba(255, 255, 0, 1);
    filter: url(#svgBlur);

}




#cont1:hover + #a { background-color: yellow; }


#a{
  color:white;
  font-size: 4em;
  /* margin-left: auto; */
  text-align: center;
  font-family: 'alluraregular';
}


@keyframes breathe{
  50%{
    transform: scale(0.99);
    transform-origin: 0% 0%;
  }
}
.example1 {
  position: fixed;
  left: 8%;
  top: -70%;
  width: 34%;
  height: 130%;
  font-size: 2.8vh;
  line-height: 140%;
  color: white;
  z-index: -100;

}

.example2 {
  position: fixed;
  right: 8%;
  top:-10%;
  width: 34%;
  height: 170%;
  font-size: 2.8vh;
    line-height: 140%;
  color: white;
    z-index: -100;

}


.example4 {
  position: fixed;
  bottom:-6vh;
  width: 100%;
  font-size: 10vh;
  color: white;
    z-index: -100;

}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}



nav a {
  transition: .1s all ease-out;
  -webkit-transition: .1s all ease-out;
  -moz-transition: .1s all ease-out;
  -o-transition: .1s all ease-out;
}

nav.main a.home,
nav.back a.home {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
}

nav.back a.home {
  position: fixed;
  top: 16px;
  left: 16px;
}

.lightbox { display: none; }

.blinking{
    animation:blinkingText 5s infinite;
}

@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}


/*
@keyframes st {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.3);
    }
}
  #star1 {
      animation: st 5s ease-in-out infinite alternate;
      -webkit-animation: st 5s ease-in-out infinite alternate;
  } */
